<h1>Welcome, {{user.fname}} {{user.lname}}</h1>
<hr />
<form class="form-inline">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="inline-headers">File an Intervention Report:</h4>
      <div class="form-group">
        <label for="studentName">Student</label>
        <input type="text" class="form-control" name="studentName" id="studentName" list="studentnames" placeholder="...">
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <select class="form-control" name="subject" id="subject">
          <option>Reading</option>
          <option>Math</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tier">Tier</label>
        <select class="form-control" name="tier" id="tier">
          <option>Two</option>
        </select>
      </div>
      <datalist id="studentnames">
        <option value="test">
        {{#each students as |student|}}
          <option value="{{student.fname}} {{student.lname}}">
        {{/each}}
      </datalist>
      <button type="submit" class="btn btn-default">Create Report</button>
    </div>
  </div>
</form>
<hr />
<table class="table table-striped">
  <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Report</th>
      </tr>
    </thead>
    <tbody>
    {{#each dashboard.pmStudents as |pmStudent|}}
      {{#if pmStudent.tierTwo}}
      <tr>
        <td>{{pmStudent.fname}}</td>
        <td>{{pmStudent.lname}}</td>
        <!-- There can only be one report of each subject at each level -->
        {{#each pmStudent.tierTwo as |t2Report|}}
        <td><a href="{{t2Report._id}}">Tier Two Report: {{t2Report.subject}}</td>
        {{/each}}
      </tr>
      {{/if}}
    {{/each}}
    </tbody>
</table>
