
<div class="row">
  <h1 class="text-center">Tier Two Worksheet</h1>
  <h2 class="text-center">Subject: {{subject}}</h2>
  <h2 class="text-center">For: {{student}}</h2>
  <hr />
  <div class="form-group">
    <div class="col-md-6">
      <form action="/form/submitWorksheet" method="POST">
      <div class="col-sm-3">
        <label>Intervention Result </label>
          {{#each interventionResult as |result|}}
            <div class="radio">
              <input type="radio" name="dataDecision[{{interventionResult.id}}]" id="{{result.id}}" value="{{result.id}}">
              {{result.label}}
              </input>
            </div>
          {{/each}}
      </div>
      <div class="col-sm-3">
        <label for="dataDecision">Decision for Intervention</label><br />
        {{#each dataDecision as |decision| }}
          <div class="checkbox">
            <label>
              <input type="checkbox" name="dataDecision[{{decision.field}}]" >{{decision.label}}</input>
            </label>
          </div>
        {{/each}}
      </div>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
        </form>
    </div>
  </div>
</div>
