<div class="row">
  <h1 class="text-center">Tier Two Worksheet</h1>
  <h2 class="text-center">Subject: {{subject}}</h2>
  <h2 class="text-center">For: {{student}}</h2>
  <hr />
  <div class="form-group">
    <div class="col-md-6">
      <form action="/form/submitWorksheet" method="POST">
        <!-- hidden inputs -->
        <input type="hidden" name="subject" value="{{subject}}">
        <input type="hidden" name="student" value="{{student}}">
        <input type="hidden" name="tier" value="{{tier}}">
        <input type="hidden" name="_id" value="{{currUser}}">
        <!-- hidden inputs -->
        <label for="problemId">Problem Identification</label>
          <textarea name="problemId" class="form-control"  id="problemId" cols="90" rows="7" class="form-control" style="resize:none"></textarea><br />
        <label for="problemAnalysis">Problem Analysis</label>
          <textarea name="problemAnalysis" class="form-control" id="problemAnalysis" cols="30" rows="7" class="form-control" style="resize:none"></textarea><br />
        <label for="goal">Intervention Goal</label>
          <textarea name="goal" class="form-control" id="goal" cols="30" rows="7" class="form-control" style="resize:none"></textarea><br />
        <!-- program dropdowns based on subject -->
        <label for="descriptionTierOne">Description Tier One Intervention</label>
          <ul>
            <li>Data will be served here</li>
          </ul>
        <hr />
        <label for="descriptionTierTwo">Description Tier Two Intervention</label><br />
        {{#each interventionStrategies as |strategy| }}
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" name="intStrats[{{strategy.field}}]" >{{strategy.label}}</input>
            </label>
          </div>
        {{/each}}
    </div>
    <div class="col-sm-4">
      <!-- add validations for earliest, latest -->
      <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate" name="startDate"> </input><br />
      <label for="endDate">End Date</label>
        <input type="date" class="form-control" id="endDate" name="endDate"> </input><br />
      <label for="completedDate">Completed Date</label>
        <input type="date" class="form-control" id="completedDate" name="completedDate"> </input><br />
      <hr />
      <label for="minutesPerSession">Minutes Per Session</label>
        <input type="text" class="form-control" id="minutesPerSession" name="minutesPerSession" /><br />
      <label for="sessionsPerWeek">Sessions Per Week</label>
        <input type="text" class="form-control" id="sessionsPerWeek" name="sessionsPerWeek" /><br />
      <hr />
      <datalist id="facultyNames">
        {{#each facultyNames as |faculty|}}
          <option value="{{faculty}}">
        {{/each}}
      </datalist>
      <label for="interventionistName">Select Interventionist</label><br />
        <input type="text" list="facultyNames" class="form-control" id="interventionistName" name="interventionistName" />
      <label for="pmFacultyName">Select Progress Monitor</label><br />
        <input type="text" list="facultyNames" class="form-control" id="pmFacultyName" name="pmFacultyName" />
      <br />
      <label for="pmFrequency">Frequency of Progress Monitoring</label>
        <input type="text" class="form-control" id="pmFrequency" name="pmFrequency" /><br />
      <label for="pmTools">Select Progress Monitoring Tools</label><br />
      {{#each progressTools as |pmTool|}}
      <div class="checkbox-inline">
        <label>
          <input type="checkbox" name="pmIngTool[{{pmTool.id}}]" > {{pmTool.label}}</input>
        </label>
      </div>
      {{/each}}
      <br />
    </div>
    <div class="col-sm-10">
      <hr />

    </div>
    <div class="col-sm-10"
      <ul class="list-inline">
        {{#each decisionPoints as |decisionPoint|}}
        <li>
          <div class="radio">
            <label>
              <input type="radio" name="{{decisionPoint.id}}" id="{{decisionPoint.id}}" value="{{decisionPoint.id}}">
              {{decisionPoint.label}}
            </label>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div>
</div>
